page-report-participation-index .participationselectform {margin:10px auto;}
#page-report-participation-index .participationselectform label {margin-left:15px;margin-right:5px;}
label {
	color: #C21C22;
	font-weight: bold;
}
.plugin_select_text h1{
	text-align: center;
}
.plugin_select_sistec{
	width: 200px;
	height: 200px;
	position:relative;
	float:left;
	cursor: pointer;
}
.plugin_select_evadidos{
	width: 200px;
	height: 200px;
	position:relative;
	float:left;
	cursor: pointer;
}
.plugin_select_cursosvazios{
	width: 200px;
	height: 200px;
	position:relative;
	float:left;
	cursor: pointer;
}
.plugin_select_servidores{
	width: 200px;
	height: 200px;
	position:relative;
	float:left;
	cursor: pointer;
}
.plugin_select_confirmar{
	width: 200px;
	height: 200px;
	position:relative;
	float:left;
	cursor: pointer;
}
h4.nomefuncao{
	text-align: center;
}
.plugin_select_sistec img {
	display : block;
    margin : auto;
    width: 150px;
    height: auto;
}
.plugin_select_evadidos img {
	display : block;
    margin : auto;
    width: 150px;
    height: auto;
}
.plugin_select_cursosvazios img {
	display : block;
    margin : auto;
    width: 150px;
    height: auto;
}	
.plugin_select_servidores img {
	display : block;
    margin : auto;
    width: 150px;
    height: auto;
}	
.plugin_select_confirmar img {
	display : block;
    margin : auto;
    width: 150px;
    height: auto;
}			
